
body {
    margin-left: 50px;
}
h1 {
    margin-left: 35px;

    color: #fc637d;
    font-family:Andale Mono, monospace;
    font-weight: bolder;
}
h2 {
    margin-left: 35px;

    color: #ff7d93;
    font-family:Andale Mono, monospace;
    font-weight: bolder;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}